numpy==1.20.1
pandas==1.2.3
ipython==7.21.0
matplotlib==3.3.4
seaborn==0.11.1
PyQt5==5.15.4

# xls and xlsx
xlrd==1.2
openpyxl==3.0.7

# to pd.read_html dependency
lxml==4.6.3
bs4==0.0.1

#ipython plot
ipykernel==5.5.0

#tools
jupyter==1.0.0                                                                                                         
jupyter-client==6.1.12                                                                                                 
jupyter-console==6.4.0                                                                                                 
jupyter-core==4.7.1                                                                                                    
jupyterlab-pygments==0.1.2                                                                                             
jupyterlab-widgets==1.0.0 